body{
    background:#2F4F4F;
    font-family: 'Times New Roman', Times, sans-serif;
}
h1{
    color: white;
}
.wacky
{
    display: flex;
    flex-wrap: wrap;
}
.assignment{
    width: 25%;
    height: 30%;
    padding: 20px;
    margin: 10px;
    background: #F0E9EC;
    border: 3px solid black;
}
h2
{
    text-align: center;
}
.assignment img{
    width: 200px;
    margin: 10px;
    border: 4px solid black;
}
.assignment img:hover{
    border: 4px dashed blue;;
}

h1{
    text-align: center;
}

a   {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
